.property-container {
  margin: 8% 10% 3% 10%;
  @media (max-width: 600px) {
    margin: 8% 2% 3% 2%;
  }
  h3 {
    text-align: center;
    background: #04064d;
    color: #007bff;
    padding: 10px;
    margin-top: 15%;
    border-radius: 20px 20px 0 0;
  }

  .property-form {
    margin: 2% 5%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px;
    background: rgb(223, 226, 195);

    @media (max-width: 600px) {
      margin: 0 5%;
    }

    .div1 {
      display: flex;
      justify-content: space-between;
      margin: 1% 3%;
      .div1-1 {
        width: 300px;
        .inputContainer {
          input {
            width: 100%;
          }
        }
      }
      .div1-2 {
        width: 350px;
      }
    }

    .div2 {
      display: flex;
      justify-content: space-between;
      margin: 1% 3%;
      align-items: flex-start;

      @media (max-width: 600px) {
        flex-direction: column;
      }

      .inputContainer {
        width: 300px;
      }
      .checkbox-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 350px;
        .checkbox {
          padding: 5px;
        }
        .checkboxCont {
          display: flex;
          justify-content: space-between;
          .price {
            input {
              width: 120px;
            }
          }
        }
      }
    }
    .div3 {
      margin: 1% 3%;
      display: flex;
      justify-content: space-between;

      @media (max-width: 1080px) {
        flex-direction: column;
        align-items: center;
      }

      .inputContainer {
        input {
          width: 300px;
        }

        @media (max-width: 400px) {
          input {
            width: 250px;
          }
        }
      }
      .inputCont {
        input {
          width: 350px;
        }
        @media (max-width: 400px) {
          input {
            width: 250px;
          }
        }
      }
    }
  }

  .btn {
    margin-top: 1%;
    background: white;

    &:hover {
      background: #04064d;
      color: #007bff;
    }
  }
}
