.houseWrapper {
  margin: 1%;
  background: rgb(228, 230, 223);
  border-radius: 2%;

  h1 {
    color: #007bff;
    background-color: #04064d;
    border-radius: 20px 20px 0 0;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .container {
    background: rgb(198, 220, 226);
    margin: 3%;
  }
}
