.footer-content {
  margin: 0;
  width: 100%;
  background: linear-gradient(#009, #007, #005, #003, #001);

  .top {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 2rem;

    .footerLogo {
      img {
        width: 10%;
        border-radius: 50%;
      }
      h1 {
        color: rgb(67, 47, 252);
      }
    }

    .footer-social {
      padding-right: 20%;
      a {
        i {
          font-size: 3rem;
          padding: 5px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    margin: 2% 8%;

    .div {
      h4 {
        color: rgb(67, 47, 252);
        &::after {
          content: "";
          display: block;
          margin: auto;
          height: 5px;
          width: 90%;
          background: #002;
        }
      }
      nav {
        a {
          color: darkblue;
          position: relative;
          transition: 0.3s ease;

          &:hover {
            color: rgb(181, 181, 230);
            right: -0.5rem;
          }
        }
      }
    }
  }

  .maq {
    marquee {
      color: rgb(181, 181, 230);
    }
  }
}
