.container {
  margin: 0px;
  width: 100%;
  transform: translate(-50% 50%);
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 20px;
    display: flex;
    padding: 5px 2rem;

    align-items: center;
    left: 0px;
    justify-content: space-between;

    transition: top 0.3s ease background-color 0.3s, box-shadow 0.3s;

    &.scrolled {
      top: 0;
      background-color: #04064d;
      box-shadow: 0px 20px 6px rgba(0, 0, 0, 0.3);
    }

    &.shadow-bounce {
      animation: shadow-bounce 0.3s ease-in-out forwards;
    }

    @media screen and (max-width: 540px) {
      .logo {
        h1 {
          display: none;
        }
      }

      ul {
        .navLink {
          font-size: 0.7rem;
          margin-left: 5px;
        }
      }

      .navItem {
        .regLog {
          .navLink {
            span {
              display: none;
            }

            &:active {
              font-weight: 700;
              font-size: 2rem;
              color: #66c8f5; /* Change to your desired active text color */
            }
          }
        }
      }
    }

    .leftBar {
      display: flex;
      align-items: center;
      gap: 2em;
      .menu-icon {
        font-size: 24px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        transition: transform 0.3s;
        font-weight: 900;
        color: #007bff;
      }

      .logo {
        display: flex;
        align-items: center;

        img {
          height: 60px;
          width: 60px;
          border-radius: 50%;
        }

        h1 {
          font-size: 5em;
        }
        @media (max-width: 700px) {
          h1 {
            display: none;
          }
        }
        @media (max-width: 400px) {
          img {
            display: none;
          }
        }

        h1 {
          margin: 0;
          font-size: 1.5rem;
          font-weight: bold;
          color: #007bff;
        }
      }
    }

    .search {
      display: flex;
      gap: 1em;
      @media (max-width: 600px) {
        input {
          display: none;
        }
      }
      input {
        border-radius: 1em;
        width: 50%;
      }
      a {
        text-decoration: none;
        font-size: 1.5em;
        color: #007bff;
        transition: 0.3s ease-in-out;

        &:hover {
          color: #83a8cf;
        }
      }
    }

    ul {
      position: absolute;
      top: 5rem;
      left: 1%;
      width: 30%;
      background: #10014e;
      border-radius: 1rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @media (max-width: 600px) {
        width: 95%;
      }

      .navLink {
        font-size: 1.5rem;
        margin-left: 10px;
        text-decoration: none;
        color: #007bff;
        padding: 10px;
        transition: 0.3s;

        &:hover {
          color: #949ea8;
          font-weight: 800;
        }

        &:active {
          font-weight: 700;
          font-size: 2rem;
          color: #66c8f5; /* Change to your desired active text color */
        }
      }
    }

    .navItem {
      .regLog {
        a {
          margin-left: 5px;
          font-weight: 600;
          text-decoration: none;
          color: #007bff;
          transition: 0.3s;

          &:active {
            font-weight: 700;
            font-size: 2rem;
            color: #66c8f5; /* Change to your desired active text color */
          }
        }
      }
    }
  }

  @keyframes shadow-bounce {
    0% {
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
    50% {
      box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.1);
    }
    100% {
      box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.3);
    }
  }
}
