.wrapper-container {
  margin: 10% 3% 3% 3%;

  .container {
    display: grid;
    grid-template-columns: 30% 75%;
    gap: 1.5%;

    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
    }
    .user-info {
      position: sticky;
      z-index: 999;
      top: 5rem;
      height: 50%;
      padding: 5px 2rem;
      border-radius: 1rem;
      margin-bottom: 2rem;
      background: linear-gradient(#008, #006, #004, #001);
      //align-items: center;
      //justify-content: space-between;

      .left {
        .property-image {
          img {
            width: 50%;
            height: 60%;
            border-radius: 50%;
          }
        }
        .user-details {
          padding-bottom: 10%;
          h4 {
            font-weight: 900;
          }
          h6 {
            color: rgba(30, 30, 235, 0.733);
          }
        }
      }
    }

    .propertyCard {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 1%;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
      border-radius: 20px;
      padding: 20px;
      background: gainsboro;

      .propertyInnerCard {
        width: 32%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        border-radius: 20px;
        padding: 10px;
        margin-top: 1%;
        background: rgb(223, 226, 195);

        @media (max-width: 769px) {
          width: 48%;
        }
        @media (max-width: 400px) {
          width: 100%;
        }

        img {
          width: 95%;
          height: 50%;
          border-radius: 5px;

          &:hover {
            transform: scale3d();
          }
        }
      }
    }
  }
}
