.property-details {
  margin: 10% 3% 2% 3%;
  .property-info {
    width: 100%;
    display: grid;
    grid-template-columns: 65% 30%;
    gap: 1.5%;
    background: lightblue;
    border-radius: 2rem;
    padding: 2em;

    .left {
      background: rgb(248, 247, 245);
      padding: 1em;
      border-radius: 2em;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
      transition: 0.3s ease-in;
      &:hover {
        box-shadow: 0 10px 20px darkblue;
      }
    }

    .right {
      background: rgb(248, 247, 245);
      padding: 5px;
      border-radius: 2em;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
      transition: 0.3s ease-in;
      &:hover {
        box-shadow: 0 10px 20px darkblue;
      }
      .price {
        background: #eeee;
        border-radius: 1rem;
        margin-bottom: 2em;
        padding: 5px;

        button {
          width: 70%;
          border-radius: 0.5em;
          color: green;
        }
      }
    }
    h2 {
      margin-top: 20px;
    }

    .images-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .property-image {
        width: 100px;
        height: 100px;
        object-fit: cover;
        cursor: pointer;
        transition: transform 0.5s;

        &.first-image {
          width: 100%;
          height: 70vh;
        }

        &.selected {
          width: 150px;
          height: 150px;
        }
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .selected-image {
      width: 300px;
      height: auto;
      max-width: 90%;
      max-height: 90%;
    }
  }
}
